<div class="mx-auto w-50">
  <div class="row m-3">
    <p class="col-md-3"><%= link_to "戻る", admin_customer_path(@customer), class: "fas fa-arrow-circle-left btn btn-lg" %></p>
    <h2 class="text-center col-md-9">登録情報編集</h2>
  </div>

  <%= form_with model: @customer, url: admin_customer_path, local: true, method: :patch do |f| %>
    <%#= bootstrap_devise_error_message! %>
    <div class="form-inline mb-3">
      <label class="mr-4">会員ID</label>
      <p><%= @customer.id %></p>
    </div>
    <div class="form-inline mb-3">
      <label class="mr-4">お名前</label>
      <div class="form-group">
        <%= f.text_field :last_name, autofocus: true, placeholder: "姓", class: "form-control mr-3" %>
      </div>
      <div class="form-group">
        <%= f.text_field :first_name, autofocus: true, placeholder: "名", class: "form-control" %>
      </div>
    </div>
    <div class="form-inline mb-3">
      <label class="mr-4">フリガナ</label>
      <div class="form-group mr-3">
        <%= f.text_field :last_name_kana, placeholder: "セイ", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :first_name_kana, placeholder: "メイ", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "郵便番号" %><br />
      <%= f.text_field :postal_code, autocomplete: 'postcode', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "住所" %><br />
      <%= f.text_field :address, autocomplete: 'address', class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "メールアドレス" %><br />
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "電話番号" %><br />
      <%= f.text_field :telephone_number, class: "form-control" %>
    </div>

    <div class="row mb-3">
      <%= f.label :is_deleted, "会員ステータス", class: "col-md-4" %>
      <%= f.radio_button :is_deleted, false, class: 'form-control-md mr-1', style: "width: 20px; height: 20px;" %><span class="mr-5">有効</span>
      <%= f.radio_button :is_deleted, true, class: 'form-control-md mr-1', style: "width: 20px; height: 20px;" %><span>退会</span>
    </div>

    <div class="form-group">
      <%= f.submit "変更内容を保存", class: "btn btn-block btn-success" %>
    </div>
  <% end %>

  <%#= link_to "退会する", quit_customer_path(@customer), class: "btn btn-danger" %>
</div>