<div class="container">
	<h4 class="text-center m-3">注文履歴詳細</h4>
	<strong>注文情報</strong>
	  <table class="table table-bordered mt-2">
      <tr>
        <th class="bg-light">購入者</th>
        <td><%= @order.name %></td>
      </tr>
        <th class="bg-light">購入日</th>
  	    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      <tr>
      　<th class="bg-light">配送先</th>
        <td>
        	<%= @order.postal_code %><br>
        	<%= @order.address %><br>
        	<%= @order.name %>
        </td>
      </tr>
      <tr>
      　<th class="bg-light">支払方法</th>
        <% if @order.payment_method == 0 %>
        <td>クレジットカード</td>
        <% else %>
        <td>銀行振込</td>
        <% end %>
      </tr>
      <tr>
     		<th class="col-xs-4 bg-light">注文ステータス</th>
  	  	<td class="col-xs-6">
      		<%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %> <!--admin/orders#update-->
        		<%= f.select :status, Order.statuses.keys.to_a,{}, class: "order_status" %>
						<%= f.submit '更新' ,id: 'order-status' ,class: "btn-sm btn-success" %>
      		<% end %>
      	</td>
	    </tr>
		</table>

  	<div class="row">
  		<div class="col-md-8">
				<table class="table table-hover table-bordered table-inverse">
			    <thead>
		        <tr class="info">
		          <th class="col-xs-4">商品名</th>
		          <th>単価（税込）</th>
		          <th>数量</th>
		          <th>小計</th>
		          <th>製作ステータス</th>
		        </tr>
			    </thead>
					<tbody>
						<% @order_details.each do |order_detail| %>
							<tr>
		            <td class="text-left">
		              <%= order_detail.item.name %>
		            </td>
		            <td class="text-right">
		              ¥<%= tax_price(order_detail.item.price).to_s(:delimited) %>
		            </td>
		            <td class="text-right">
		              <%= order_detail.amount %>
		            </td>
		            <td class="text-right">
		              ¥<%= sub_price(order_detail).to_s(:delimited) %>
		            </td>
			          <td>
		            	<%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch do |f| %><!--admin/order_details#update-->
			            	<%= f.select :making_status, OrderDetail.making_statuses.keys, class: "order_detail" %>
			            	<%= f.submit '更新',id: 'create-status', class: "btn btn-success" %>
		            	<% end %>
			          </td>
			      	</tr>
						<% end %>
					</tbody>
				</table>
  		</div>

		  <div class="col-md-3 mt-3">
				<table class="table table-hover table-bordered table-condensed">
					<tr>
	          <th class="info">商品合計</th>
						<td>¥<%= total_payment(@order_details) %></td>
					</tr>
					<tr>
						<th class="info">送料</th>
						<td>¥<%= @order.shipping_cost %></td>
					</tr>
					<tr>
						<th class="info">請求金額合計</th>
						<td>¥<%= total_payment(@order_details) + @order.shipping_cost.to_i %></td>
					</tr>
			  </table>
	  </div>
    <div class="col-xs-12">

    </div>
	</div>
 </div>