<div class="row mt-5">
  <div class='col-md-3 offset-md-3'>
    <%= attachment_image_tag(@item, :image, fallback: "no-image-icon.jpg", class: "item_image", style: "width: 100%; height: 80%") %>
  </div>
  <div class='col-md-4'>
    <p class="mt-3" style="font-size: 24px; font-weight: bold;"><%= @item.name %></p>
    <p style="font-size: 24px; margin-bottom: 50px;"><%= @item.introduction %></p>
    <spap style="font-size: 24px; font-weight: bold;">￥<%= tax_price(@item.price) %></span>
    <spap style="font-size: 18px; ">(税込)</span>
      <% if @item.is_active == true %>
        <p class="text-success mb-5 mb-1">販売中</p>
      <% else %>
        <p class="text-danger mb-5 mb-1">売切</p>
      <% end %>
      <% if customer_signed_in? %>
        <%= form_with url: cart_items_path, method: :post, local:true do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
        <div class="row">
          <%= f.select :amount, options_for_select((1..10).to_a.unshift(["個数選択", 1])), {}, {class: 'form-control col-3'}  %>
          <%= f.submit "カートに入れる", class: "btn btn-success ml-3" %>
        </div>
        <% end %>
      <% end %>
  </div>